
.banner{
    background: var(--subtitle-color);
    color: var(--background-color-header);
    text-align: center;
    padding: 4rem 3.2rem;
}

.banner .banner__titulo{
    font-size: var(--title-font-size-sm);
    font-weight: var(--title-font-wheight);
}

.banner .banner__texto{
    font-size: var(--text-font-size-sm);
    font-weight: var(--text-font-wheight);
    margin: 1.6rem 2rem;
}

.banner .banner__busca{
    background-color: transparent;
    border: 1px solid var(--background-color-header);
    border-radius: 24px;
    width: 100%;
    padding: 1.6rem;
    color: var(--background-color-header);
}

.banner .banner__busca::placeholder{
    text-align: center;
    font-size: var(--description-font-size-sm);
    font-weight: var(--description-font-wheight);
    color: var(--background-color-header);
    background: url(../images/search_icon.svg);
    background-repeat: no-repeat;
    background-position: 1.6rem;
}
