.carousel .carousel__titulo {
  background-color: var(--background-color-header);
  font-size: var(--title-font-size-sm);
  color: var(--title-colors-1);
  font-weight: var(--title-font-wheight);
  text-align: center;
  text-transform: uppercase;
  padding: 1.6rem 0 0.8rem 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.9rem 0;
}

.card {
  margin: 2.4rem;
  padding: 1.6rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__descricao,
.card__botoes {
  display: flex;
  justify-content: space-between;
}

.card__descricao {
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.descricao img {
  width: 70%;
}

.card__descricao .descricao .descricao__titulo {
  font-size: var(--title-font-size-sm);
  font-weight: var(--title-font-wheight);
  color: var(--title-colors-1);
}

.card__descricao .descricao .descricao__titulo-livro {
  font-size: var(--title-font-size-sm);
  font-weight: var(--title-font-wheight);
  color: var(--subtitle-color);
}

.card__descricao .descricao .descricao__texto {
  font-size: var(--description-font-size-sm);
  color: var(--text-color);
  margin-bottom: 0.8rem;
}

.card__botoes {
  align-items: center;
}

.card__botoes .botoes {
  display: flex;
}

.card__botoes .botoes .botoes__item {
  margin-inline: 1rem;
}

.card__botoes .botoes__ancora {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 3rem;
  background-color: var(--title-colors-1);
  color: var(--background-color-header);
  font-size: var(--title-font-size-sm);
  font-weight: var(--title-font-wheight);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .carousel .carousel__titulo {
    font-size: var(--title-font-size-md);
    padding: 4.8rem 0 1.6rem 0;
  }

  .swiper {
    width: 50%;
  }

  .swiper-pagination {
    position: initial;
    margin: 3.2 rem 0 4.8rem 0;
  }
  .swiper-slide img {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 3.2rem auto;
  }
}

@media screen and (min-width: 1728px) {
  .carousel .carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15vw 4.8rem 15vw;
  }

  .carousel .carousel__container .swiper {
    width: 50%;
  }

  .swiper-pagination {
    margin: 1.6rem 0;
  }

  .card__descricao .descricao .descricao__titulo {
    font-size: var(--title-font-size-lg);
  }

  .card__descricao .descricao .descricao__titulo-livro {
    font-size: var(--title-font-size-sm);
  }

  .card__descricao .descricao .descricao__texto {
    font-size: var(--description-font-size-lg);
  }
}
