header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color-header);
    position: relative;
}

header .container{
    display: flex;
    align-items: center;
}

header .container .container__img{
    padding: 1.6rem;
}

header .cabecalho_menu-hamburguer{
    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    cursor: pointer;
}

header .lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu .lista-menu__titulo{
    font-size: var(--text-font-size-sm);
    font-weight: var(--title-font-wheight);
    color: var(--title-colors-1);
}

.lista-menu .lista-menu__item .lista-menu__link{
    font-size: var(--text-font-size-sm);
    font-weight: var(--text-font-wheight);
    color: var(--subtitle-color);
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}


.lista-menu .lista-menu__titulo,
.lista-menu .lista-menu__item{
    padding: 1.6rem;
    background-color: var(--background-color-header);
}
header .container__menu{
    display: none;
}

header .container__menu:checked~.lista-menu{
    display: block;
}